:root {
  --green: #c7e1ff;
  --blue: #829dff;
  --red: #ff6969;
}

/* import fonts */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Press Start 2P', cursive; */

.wrapper {
  padding: 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green);
  /* justify-content: center; */
  font-family: "Press Start 2P", cursive;
}

h1 {
  font-size: 2.1rem;
}

.game-info {
  font-size: 0.9rem;
  padding: 0 10px;
  margin-top: 72px;
}

.game-info > span {
  background-color: var(--red);
  padding: 12px 5px 12px 20px;
}

.game-info > span + span {
  background-color: var(--blue);
  color: #ffffff;
  padding: 12px 20px 12px 5px;
}

.reset {
  font-family: "Patua One", cursive;
  font-size: 0.8rem;
  letter-spacing: 0.4rem;
  margin-top: 24px;
  padding: 8px 15px;
  border-radius: 0.5rem;
  background-color: #000000;
  color: rgba(255, 255, 255, 0.95);
}

.reset:hover {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.95);
}

.game-board {
  margin-top: 24px;
  width: 310px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, 100px);
}

.tile {
  height: 100px;
  background-color: #ffffff;
}

.x,
.o {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red);
  font-family: "Montserrat", sans-serif;
  font-size: 110px;
}

.x {
  color: var(--blue);
  font-size: 90px;
}

.display-none {
  display: none;
}
